@import 'simple-texture/blog/variables';
@import 'simple-texture/common/normalize';
@import 'simple-texture/common/animate';
@import 'simple-texture/common/fonts';
@import 'simple-texture/common/helper';
@import 'simple-texture/common/highlight';
@import 'simple-texture/common/pace';


html {
    background: url('../images/theme/noisy_texture_section0-200x200.png') repeat 0 0 #F9F9F9;
}

body {
    font-family: $fonts-body;
    font-size: 14px;
    line-height: 32px;

    color: $color-text;
}

.body .unit-body {
    padding: 30px 50px 26px 50px;
    border-top: 1px solid rgba(255, 255, 255, .6);
    background: #FFFFFF;
    box-shadow: $color-box-border 0 0 9px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5{
    font-family: $fonts-heading;
}

.h1,
h1 {
    font-size: 2.2em;
    line-height: 42px;

    margin-top: 42px;
    margin-bottom: 26px;
    
    text-align: center;
}

.h2,
h2 {
    font-size: 1.8em;
    line-height: 42px;

    margin-top: 34px;
    margin-bottom: 16px;
}

.h3,
h3 {
    font-size: 1.6em;
    line-height: 26px;

    margin-top: 26px;
    margin-bottom: 10px;
    
    color: #0c2461;
}

.h4,
h4 {
    font-size: 1.15em;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.h5,
h5{
    font-size: 1em;
    line-height: 26px;

    margin-top: 20px;
    margin-bottom: 5px;
}

strong{
    font-family: $fonts-heading;
}

.small,
aside,
small {
    font-size: .75em;
}

a:hover,
a:link,
a:visited {
    text-decoration: none;
}

img {
    max-width: 95%;
}
img.alignleft{
    float:left
} 
img.alignright{
    float:right
}
img.aligncenter{
    display: block;
    margin: 0 auto;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $fonts-body;
}

.margin {
    font-size:12px;
    margin-left:12px;
  }
  .nomargin{
    font-size:12px;
    margin-left:0;
  }
  .space{
    margin:-10px 0;
  }

@import 'simple-texture/blog/overlay';
@import 'simple-texture/blog/header';
@import 'simple-texture/blog/footer';
@import 'simple-texture/blog/content';
@import 'simple-texture/blog/responsive';
