body{
  background: url(../images/theme/noisy_texture_section0-200x200.png) repeat 0 0 #F0F0F0;
}

.links{
  display: flex;
  justify-content: center;
  align-items:center;
}

.title {
  float: left;
  position: absolute;
  width: 500px;
  height: 125px;

  border-radius: 10px;
}

#tfm {
  background: url(../images/board-game/TFM_title.png);
}

#pandemic {
  background: url(../images/board-game/pandemic_title.png);
}
