.title {
  position: absolute;
  width: 500px;
  height: 125px;

  border-radius: 10px;
}

#tfm {
  background: url(../images/board-game/TFM_title.png);
}

#pandemic {
  background: url(../images/board-game/TFM_title.png);
}
