<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="main"><a href="#main">Biography</a></li>
        <li data-menuanchor="social"><a href="#social">Social Links</a></li>
        <li data-menuanchor="about"><a href="#about">Social Links</a></li>
    </ul>

    <div id="section0" class="section" data-name="main">
        {% include common/notices.html %}

        <div class="headings animated fadeInLeft pointer" onclick="location.href='{{ site.paths.blog | relative_url }}'">
            {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.home.section2 %}{{ site.home.section2 }}{% endif %}
            {% if site.home.section3 %}{{ site.home.section3 }}{% endif %}
        </div>
        <a class="btn-continue animated bounce" href="#social"><img src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
    </div>

    <div id="section1" class="section" data-name="social">
        <h1 class="animated hidden">
            <a class="btn-enter btn-light" href="{{ site.paths.blog | relative_url }}">{{ site.data.i18n[site.lang].enter_blog }}</a>
        </h1>
        <div class="social-links animated hidden">
            <a class="btn-light ico-rss" href="{{ site.baseurl }}/feed.xml" rel="me" target="_blank"></a>
            {% if site.author.email %}
                <a class="btn-light ico-gmail" href="mailto:{{ site.author.email }}" rel="me" target="_blank"></a>
            {% endif %}
            {% for link in site.author.social_links %}
                {% if link.url %}
                    <a class="btn-light ico-{{ link.name }}" href="{{ link.url }}" rel="me" target="_blank"></a>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
    <div id="section2" class="section" data-name="about">
        {% include common/notices.html %}
        <a class="btn-before animated hidden" href="#social"><img style="transform:rotate(180deg);" src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        
        <div class="headings animated fadeInLeft">
            <a class="btn-link" href="http://aristohyun.github.io/YoutubeChat" title="YoutubeChat"> 
                <svg class="YC-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve" width="64px" height="64px">
                    <g><circle cx="29" cy="29" r="29" data-original="#EBBA16" class="active-path" data-old_color="#EBBA16"/><g>
                    <polygon points="44,29 22,44 22,29.273 22,14  " data-original="#FFFFFF" class="" data-old_color="#FFFFFF"/>
                    <path d="M22,45c-0.16,0-0.321-0.038-0.467-0.116C21.205,44.711,21,44.371,21,44V14   c0-0.371,0.205-0.711,0.533-0.884c0.328-0.174,0.724-0.15,1.031,0.058l22,15C44.836,28.36,45,28.669,45,29s-0.164,0.64-0.437,0.826   l-22,15C22.394,44.941,22.197,45,22,45z M23,15.893v26.215L42.225,29L23,15.893z" data-original="#FFFFFF" class="" data-old_color="#FFFFFF"/>
                </g></g>
                </svg> </a>
        </div>
        
    </div>
    {% include home/scripts.html %}
</body>

</html>